<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="bat" class="model.Bat">
		<constructor-arg>
			<value>미즈노</value>
		</constructor-arg>
		<constructor-arg>
			<value>10</value>
		</constructor-arg>
	</bean>
	
	<bean id="person" class="model.Person">
		
		<property name="name">
			<value>김성환</value>
		</property>
		<property name="age">
			<value>22</value>
		</property>
		<property name="bat">
			<ref bean = "bat"/><!-- bat을 참조해야해서 -->
		</property>
	</bean>

</beans>
